.clanRoot {
    display: flex;
    font-size: 13px;
    width: 630px;
    padding: 3px 16px;
}

.clanIcon {
    width: 30px;
    text-align: right;
}

.clanIconImage {
    position: relative;
    top: 1px;
    right: 2px;
}

.clanName {
    width: 135px;
    color: white;
    text-align: left;
}

.clanCrown {
    width: 20px;
    text-align: left;
}

.clanLeader {
    width: 110px;
    color: white;
    text-align: left;
}

.clanCastle {
    width: 85px;
    text-align: center;
}

.clanHall {
    width: 85px;
    text-align: center;
}

.clanGoal {
    width: 85px;
    text-align: center;
}

.clanPopulation {
    width: 85px;
    text-align: center;
}

.goalWhite {
    color: #ffffff;
}

.goalPurple {
    color: #f700f7;
}

.goalGreen {
    color: #08dd0f;
}

.clanTableHeader {
    height: 24px;
    background-color: #444444;
    width: 630px;
    display: flex;
    padding: 3px 16px 13px;
    font-size: 11px;
    align-items: flex-end;
    color: #888;
}
