.clanRoot {
    display: flex;
    font-size: 12px;
    width: 570px;
}

.clanIcon {
    width: 30px;
    text-align: right;
}

.clanIconImage {
    position: relative;
    top: 2px;
    right: 2px;
}

.clanName {
    width: 125px;
    color: white;
    text-align: left;
}

.clanCrown {
    width: 20px;
    text-align: left;
}

.clanLeader {
    width: 100px;
    color: white;
    text-align: left;
}

.clanCastle {
    width: 75px;
    text-align: center;
}

.clanHall {
    width: 75px;
    text-align: center;
}

.clanGoal {
    width: 75px;
    text-align: center;
}

.clanPopulation {
    width: 75px;
    text-align: center;
}

.goalWhite {
    color: #ffffff;
}

.goalPurple {
    color: #f700f7;
}

.goalGreen {
    color: #08dd0f;
}

.clanTableHeader {
    width: 570px;
    display: flex;
    padding-bottom: 5px;
    font-size: 11px;
    align-items: flex-end;
}
