.root {
    background-color: #1d1b1a;
    color: #808080;
    font-size: 12px;
    border: 5px solid #d4b664;
    padding: 20px;
    min-width: 570px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.headerDate {
    width: 170px;
    font-size: 13px;
    align-self: flex-start;
    color: #d4b664;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alliesContainer {
    display: flex;
    justify-content: center;
}

.alliesContainerLeft {
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding-right: 20px;
}

.alliesContainerRight {
    padding-left: 21px;
    border-bottom: 1px solid #808080;
}

.allyTable {
    border: 1px solid #d4b664;
    margin-bottom: 20px;
    padding: 5px;
    width: 572px;
}

.randomClansTable {
    margin: 20px;
}

.allyName {
    color: #d4b664;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    padding-left: 4px;
}

.clanNameHeaderLangIcon {
    padding-left: 4px;
    position: relative;
    top: 3px;
}