.footer {
    margin-top: 50px;
    padding: 15px;
    border-top: 1px solid #808080;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.langLegend {
    color: white;
    margin-bottom: 30px;
}

.langLegendItem {
    padding: 2px 0;
}

.langLegendItemIcon {
    vertical-align: middle;
    padding-bottom: 1px;
}

.priorityMarkers {
    margin-bottom: 30px;
}

.priorityMarkersLetters {
    text-align: right;
    padding-right: 10px;
}

.priorityMarkersMeaning {
    text-align: left;
}

.populationLegend {
    margin-bottom: 30px;
}

.populationMeaning {
    text-align: left;
    padding-left: 10px;
}

.aboutLegend {
    color: white;
    text-align: right;
    align-self: flex-end;
}

.aboutLink {
    color: #00bc8c;
}